extends ../index

block content
    form(action="/updateFiles" method="POST").fileForm 
        - let filePath = path
        input(type="hidden", name="flpath", value=filePath)

        - let gotFiles = files
        each file, index in gotFiles ? gotFiles : []

            fieldset 
                legend= `${file}`
                input(type="hidden", name=`file_names`, value=`${file}`, readOnly='true')
                fieldset 
                    input(type="text", placeholder="Value to replace here...", name=`${file}_temp_val`)
                    input(type="textfield", placeholder="Input text here...", name=`${file}_new_val`)
                    button.addFields +
                    div.breakrow
        div.breakrow
        input(type="submit", value="submit")